html{
    font-size: 15px;
}
body{
    width: 100%;
}
.navlink{
    font-size: 1.1rem;
}
.npimgp{
    font-size: 0.80rem;
}
.scaph{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem
}
.contact-form,.contact-social{
    padding: 10px 2rem;
    width: 100%;
    font-size: 1rem;
}
.contact-form textarea{
    margin-bottom: 2rem;
}
.contact-social{
    font-size: 2.5rem;
}